<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534628131084-v8802knlkgbc0se9ajk37ogq5bcr9c13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534628131084-v8802knlkgbc0se9ajk37ogq5bcr9c13</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534628131084-96fmqnkmrmceo3esn4b8ofq6fiktur62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtFOua57j6W1NkucgOj-7ml4JX6UcLpso</string>
	<key>GCM_SENDER_ID</key>
	<string>534628131084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.mero.ios</string>
	<key>PROJECT_ID</key>
	<string>mero-school-nepal</string>
	<key>STORAGE_BUCKET</key>
	<string>mero-school-nepal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534628131084:ios:22e8810113cbd95264e929</string>
</dict>
</plist>